@page "/"

<div style="display:block; width:50%; margin:0 auto;">
    <br /><br /><br /><br />
    <h1 style="font-size:60px;">Invertory Management System</h1>
    <br />
    <div style="width:600px; font-size:30px; margin-left:50px;">
        <b>ASP.NET Blazor</b> in <b>.NET 6</b> using <b>Entity Framework 6 Core,</b> <b>SQL Server,</b> <b>Clean Architecture</b> and <b>Identity</b> for Authentication and Authorization.
    </div>
    <br /><br /><br /><br />
</div>
